<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Master Mind v1.0</h1>
  </div>
</div>
<div class='row'>
  <div class='col-md-6 offset-md-3'>
    <%= link_to 'NEW GAME', new_user_path, class: 'btn btn-danger btn-lg btn-block'  %>
  </div>
</div>
